<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">


	<!-- place elements specific to development/test here -->
	<context-param>
		<param-name>java.naming.factory.initial</param-name>
		<param-value>org.jboss.naming.remote.client.InitialContextFactory</param-value>
	</context-param>
	<context-param>
        <param-name>dutrow.ordermgmt.remote</param-name> 
        <param-value>dutrowBidbotWAR/OrderMgmtEJB!dutrow.bidbot.ejb.OrderMgmtRemote</param-value>
    </context-param>

</web-app>
