<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>Dutrow Sales Web Application</display-name>
	<!-- 
	<servlet>
		<servlet-name>AccountHandler</servlet-name>
		<servlet-class>dutrow.sales.web.AccountMgmtServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountHandler</servlet-name>
		<url-pattern>/model/account/handler</url-pattern>
	</servlet-mapping>
	 -->

	<!-- servlet> <servlet-name>SupportHandler</servlet-name> <servlet-class>dutrow.sales.web.SupportServlet</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>SupportHandler</servlet-name> 
		<url-pattern>/model/support/handler</url-pattern> </servlet-mapping -->


	<servlet>
        <servlet-name>BuyerHandler</servlet-name>
        <servlet-class>dutrow.sales.web.BuyerMgmtServlet
        </servlet-class>
        <init-param>      
            <param-name>type</param-name>
            <param-value>admin</param-value>
        </init-param>
    </servlet>
	<servlet-mapping>
        <servlet-name>BuyerHandler</servlet-name>
        <url-pattern>/model/admin/handler</url-pattern>
    </servlet-mapping>

</web-app>